:root {
  --light-blue:  #1B2944;
  --darck-blue:  #141F35;
  --darck-orange: #FFBB01;
  --darck-red: #EC1F46;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 944px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

.btn {
  border: none;
  border-radius: 6px;
  padding: 16px 32px;
  color: var(--light-blue);
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  line-height: 130%; /* 15.6px */
  text-transform: uppercase;
  background-color: var(--darck-orange);
  filter: drop-shadow(0px 4px 0px #B68500);
}

/* 
Social
*/

.social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-item {
  width: 20px;
  height: 20px;
}

/* 
  Header
*/

.header {
  padding-top: 40px;
  padding-bottom: 88px;
  background-color: var(--light-blue);
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-discord-link {
  width: 100px;
  height: 28px;
}

/* 
Promo
*/

.promo {
  padding-bottom: 88px;
  background-color: var(--light-blue);
}

.promo-flex-container {
  display: flex;
  justify-content: space-between;
}

.promo-block-info {
  max-width: 464px;
  padding: 36.5px 0;
}

.promo-prof {
  margin-bottom: 12px;
  color: var(--darck-orange);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.promo-name {
  margin-bottom: 24px;
  color: #FFF;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px; /* 118% */
}

.promo-text {
  margin-bottom: 36px;
  color: #FFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px; /* 175% */
}

.promo-btn {
  width: 300px;
  height: 66px;
}

.promo-block-img {
  width: 384px;
  height: 384px;
}

.promo-img {
  width: 100%;
}
/* 
Advantages
*/

.advantages {
  padding: 88px 0;
  background-color: var(--darck-blue);
}

.advantages-title {
  margin-bottom: 48px;
  color: #FFF;
  font-size: 36px;
  line-height: 42px; /* 116.667% */
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 16px;
}

.advantages-list-title {
  margin-bottom: 16px;
  color: #FFF;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
}

.advantages-list-text {
  color: #FFF;
  line-height: 28px; /* 175% */
}

/* 
Projects
*/

.projects {
  padding: 88px 0;
  background-color:var(--light-blue);
}

.projects-title {
  margin-bottom: 48px;
  color: #FFF;
  font-size: 36px;
  line-height: 42px; /* 116.667% */
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.projects-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 304px;
  border-radius: 6px;
  padding: 32px;
  aspect-ratio: 1;
}

.projects-list-item:nth-child(1) {
  background: url('../img/proj_bg/proj_bg_1.jpg') center center/cover no-repeat;
}

.projects-list-item:nth-child(2) {
  background: url('../img/proj_bg/prog_bg_2.jpg') center center/cover no-repeat;
}

.projects-list-item:nth-child(3) {
  background: url('../img/proj_bg/proj_bg_3.jpg') center center/cover no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0.00) 35.34%, #213E60 99.85%);
}

.project-list-title {
  z-index: 20;
  display: block;
  max-width: 170px;
  margin-bottom: 16px;
  color: #FFF;
  font-size: 18px;
  line-height: 28px; /* 155.556% */
}

.projects-list-btn {
  z-index: 30;
  display: block;
  max-width: 120px;
  border-radius: 6px;
  padding: 10px 16px;
  box-shadow: 0px 2px 0px 0px #CE1C3E;
  color: #FFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%; /* 15.6px */
  text-decoration: none;
  background: #EC1F46;
  transition: all .3s;
}

.projects-list-btn:hover {
  background: #880f25;
}

/* 
Gallery0
*/

.gallery {
  padding: 88px 0;
  background-color: var(--darck-blue);
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.gallery-list-item {
  max-width: 224px;
  aspect-ratio: 1;
}

.gallery-list-img {
  border-radius: 6px;
}

/* 
Contacts
*/

.contacts {
  padding: 88px 0;
  background-color: var(--light-blue);
}

.contacts-block {
  display: flex;
  justify-content: space-between;
}

.contacts-title {
  margin-bottom: 47px;
  color: #FFF;
  font-size: 36px;
  line-height: 42px; /* 116.667% */
}

.contacts-form {
  max-width: 464px;
  border-radius: 5px;
  padding: 38px 32px;
  box-shadow: -5px 5px 0px 0px #FFC41D;
  background-color: #FFF;
}

.contacts-inp {
  width: 100%;
  min-height: 70px;
  border: none;
  border-radius: 5px;
  padding: 20px 35px 20px 62px;
  box-shadow: 0px 3px 10px 0px rgba(199, 199, 199, 0.25) inset;
  color: #949494;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 28px; /* 200% */
  background: #F8F8F8;
}

.contacts-form-name {
  margin-bottom: 16px;
}

.contacts-form-phone {
   margin-bottom: 32px;
}

.form-btn {
  width: 100%;
  min-height: 66px;
}

.contacts-form-title {
  margin-bottom: 32px;
  color: #000;
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  line-height: 28px; /* 155.556% */
  text-align: center;
  Font-size: 18px;
}

.block-title {
  display: block;
  color: #FFF;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
}